/*-- scss:defaults --*/

//Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// Colors
$cream: #FDFBF7;
$light-pink: #F9C5D5;
$navy-blue: #2C3E50;

// Base document colors
$navbar-bg: $light-pink;
$navbar-fg: $navy-blue;
$body-bg: $cream;

/*-- scss:rules --*/

h1, h2 {
    letter-spacing: 5px;
    font-weight: 800;
}

.title {
    color: $navy-blue;
}

.center-text {
    text-align: center;
}

.light-pink-text {
    color: $light-pink;
}

.navbar-brand img {
    max-height: 40px;
    width: auto;
}
